*, *::before, *::after {
  margin: 0;
  padding: 0;
  border-sizing: border-box;
  --tw-ring-color: var(--green);
}

:root{
  --green:#01D3B0;
  --green-90:#01d3b0ce;
  --green-80:#01d3b0a6;
  --green-70:#01d3b07e;
  --yellow:#f1d42e;
  --red:#e21d1d;
  --dark:#32363C;
  --black:#000;
  --very-dark:#0A0C0F;
  --white:#fff;
  --dim:#eee;
  --sm:375px;
  --md:800px;
  --lg:1440px;
  --font-stack:Montserrat;
  --breakpoint-md:800px;
  --breakpoint-sm:300;
  --font-stack2:poppins;
  --fall-back-font:serif;
}

::-moz-selection{
  background-color: var(--green);
  color: var(--white);
}

::selection{
  background-color: var(--green);
  color: var(--white);
}

html, body {
position: relative;
scroll-behavior: smooth;
min-height: 100vh;
font-family:poppins, 'Montserrat', sans-serif !important;
background-color: var(--dark);
color: var(--white);
}


/* default styling */
img{
  user-select: none;
}
a,
.link{
color: var(--white);
text-decoration: none;
transition: 0.23ms;
}

.primary-color{
  color: var(--green);
}

a:hover:not(.underline){
text-decoration: underline;
}

a.active,
.link.active,
a:active{
color: var(--green);
}
.h-inherit{
  height: inherit;
}
.bg-green-opacity-70{
  background-color: var(--green-70);
  -webkit-backdrop-filter: blur(6px);
 backdrop-filter: blur(6px);
}
.text-small{
  font-size: 14px;
}
.font-weight-thin{
  font-weight: 200;
}
.btn,
button{
  outline: none !important;
  font-size: 13px;
  color:var(--white) ;
  border-color: var(--green);
  font-family: inherit ;
}
.btn-outline{
padding:10px 14px;
border:1px solid var(--green);
color: var(--green);
margin: 14px 0;
border-radius: 100px;
transition: 0.3s color;
}

.btn-outline:hover{
color: var(--white);
}

.success{
  color: var(--green);
}

.warn{
  color: var(--yellow);
}

.danger{
  color: var(--red);
}


.text-xsm{
  font-size: 14px;
}

.bg-green{
  background-color: var(--green);
}
.bg-green:hover{
  background-color: var(--dark);
}
.-z-10{
  z-index:-1
}
.-z-20{
  z-index:-2
}
.box{
  width:70px;
  height: 70px;
}
.box-green{
  background-color: var(--green);
}

/* HEADER */
header{
  align-items: center;
}

.header__nav-links{
  margin-top: 1.254rem;
}

/* Banner */
#banner{
background-color: var(--very-dark);
}

/* Form */
#mc_embed_signup > form{
  max-width: 480px;
}
/* about us */
#about{
position: relative;
}
#about h2, #about h4{
font-size:2.3rem;
}
#about-us{

}
#about >* hr{
max-width: 150px;
width: 100%;
padding: 1px;
margin: 20px 10px 0 10px;
}


@media screen and (max-width:800px){
  .header{
    padding: 0 10%;
  }
.header__nav-links{
  display: none !important;
}
.header .hamburger{
  display: block;
}

#banner .intro-text h1{
 font-size: calc(4rem - 120%);
  }
  
#banner img{
  display: none;
}
}